.board {
  margin: 0 auto;
  height: 50rem;
  width: 100rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)),
    url('../../images/grass.jpg');
  position: relative;
  border-radius: 1rem;
}
